body {
    margin: 0 0 90px; /* bottom = footer height */
    font-family: 'Montserrat', sans-serif !important;
    background-image: url(/static/workout_tracker/images/bg4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}