{% extends 'habits/habits_base.html' %}
{% block content %}

<div class='py-4 mt-auto'>
    <div class='container px-4'>
<h1 class="text-center">Трекер привычек</h1><br>
            <h5 class="text-center" style="color:grey">Управляй своими привычками!</h5>

            <form action="{% url 'add' %}"
                  method='POST'>
                {% csrf_token %}
                <div class='form-group'>
                    <div class='row'>
                        <div class='mb-3'>
                            <label for='name' class='form-label mt-2'>
                                <strong>Новая привычка</strong>
                            </label>
                            <input
                                    type="text"
                                    name="name"
                                    placeholder="Введите название привычки"
                                    class='form-control'
                                    id='name'
                            >
                        </div>
                        <div class='mb-3'>
                            <button class="btn btn-outline-info" type="submit">
                                Добавить
                            </button>
                        </div>
                    </div>
                </div>
            </form>


        {% for habit in today_habits %}
        <div class="card mb-2">
            <a id="{{ habit.habit_id }}"></a>
            <div class="card-body habit-{{habit.habit_id}}">
                <h5 class="card-title" style="font-weight: 600;">{{ habit.habit }}</h5>
                {% if habit.is_completed == False %}
                <button type="button" class="btn btn-secondary mb-3 success_button" style="width: 142px!important;" disabled>Не завершено</button>
                <button onclick="update_habit({{habit.habit_id}})" class="btn btn-primary mb-3 update_habit_{{habit.habit_id}}" style="width: 142px!important;" role="button">Выполнить</button>
                {% else %}
                <button type="button" class="btn btn-success mb-3 success_button" style="width: 142px!important;" disabled>
                    Завершено
                </button>
                <button onclick="update_habit({{habit.habit_id}})" type="button" class="btn btn-warning mb-3 update_habit_{{habit.habit_id}}" style="width: 142px!important;">Отменить</button>
                {% endif %}
                <a href="{% url 'delete' habit_id=habit.habit.id %}"
                   type="button" class="btn btn-outline-danger mb-3" style="width: 142px!important;">Удалить</a>
                <a href="{% url 'show_qr' habit_id=habit.habit.id %}"
                   type="button" class="btn btn-outline-dark mb-3" style="width: 142px!important;">QR</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

