{% extends 'habits/habits_base.html' %}



{% block content %}






<div style="margin-top: 50px;margin-bottom: 100px;" class="ui container">
    <h1 class="ui center aligned header">Трекер привычек</h1>
    <h3 class="test_style">{{title}}</h3>
    {% if months|length_is:"1" %}
    {% elif months|length_is:"2" %}
    <div class="two ui buttons">
        <a class="ui button" href="{% url 'statistic_previous' month=1 %}">Статистика за {{ months|first }}</a>
        <a class="ui button" href="{% url 'statistic' %}">Статистика за {{months|last}}</a>
    </div>
    {% elif months|length_is:"3" %}
    <div class="three ui buttons">
        {% for month in months %}
        {% if forloop.counter0 == 0 %}
        <a class="ui button" href="{% url 'statistic_previous' month=2 %}">Статистика за {{month}}</a>
        {% elif forloop.counter0 == 1 %}
        <a class="ui button" href="{% url 'statistic_previous' month=1 %}">Статистика за {{month}}</a>
        {% elif forloop.counter0 == 2 %}
        <a class="ui button" href="{% url 'statistic' %}">Статистика за {{month}}</a>
        {% endif%}
        {% endfor %}
    </div>
    {% endif %}

</div>
<table class="ui definition table" style="margin-bottom: 50px;">

    <thead>
        <tr>
            <th></th>
            {% for day in days %}
            <th>{{ day }}</th>
            {% endfor%}
        </tr>
    </thead>

    <tbody>
    {% for habit_cat in habits_list %}
        <tr>
            <td>
            {{ habit_cat }}
            </td>
            {% for habit in month_habits %}

                {% if habit.habit == habit_cat %}
            <td>
                {% if habit.is_completed == False %}
                <a href="#"><span style="width: 26px;" class="ui red label">-</span></a>
                {% else %}
                <a href="#"><span style="width: 26px;" class="ui green label">+</span></a>
                {% endif %}
            </td>
                {% endif %}

            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>

</table>

<div style="background-color: #E7E9EB;padding-bottom:50px;padding-top:50px">

<h1 class="ui center aligned header" style="margin-bottom:150px">Прогресс</h1>

<div style="width: 1200px;margin-left:auto;margin-right:auto">
{% for key, value in progress.items %}
<div class="ui indicating progress" data-percent="{{value}}" style="margin-bottom: 100px;">
  <div class="bar" style="transition-duration: 300ms; width: {{value}}%;">
    <div class="progress">{{ value }}%</div>
  </div>
  <div class="label">{{ key }}</div>
</div>
{% endfor %}
</div>
</div>
<a class="fluid blue ui button" href="{% url 'habits_tracker_index' %}" style="margin-left:auto;margin-right:auto;padding-top:30px;padding-bottom:30px"><h3>На главную</h3></a>






{% endblock content %}