{% extends 'habits/habits_base.html' %}

{% block content %}

<div class='py-4 mt-auto' style="margin-top: 50px;margin-bottom: 10px;" >
    <div class='container px-4' align="center">
        <h1 class="text-center">Трекер привычек</h1><br>
        <h5 class="text-center">{{title}}</h5><br>
        {% if months|length_is:"1" %}
        {% elif months|length_is:"2" %}
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <a href="{% url 'statistic_previous' month=1 %}" class="btn btn-secondary ">
            Статистика за {{ months|first }}
          </a>
          <a href="{% url 'statistic' %}" class="btn btn-secondary">
            Статистика за {{months|last}}
          </a>
        </div>
        {% elif months|length_is:"3" %}
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            {% for month in months %}
            {% if forloop.counter0 == 0 %}
            <a href="{% url 'statistic_previous' month=2 %}" class="btn btn-secondary">
            Статистика за {{month}}
            </a>
            {% elif forloop.counter0 == 1 %}
            <a href="{% url 'statistic_previous' month=1 %}" class="btn btn-secondary">
                Статистика за {{month}}
            </a>
            {% elif forloop.counter0 == 2 %}
            <a href="{% url 'statistic' %}" class="btn btn-secondary active">
                Статистика за {{month}}
            </a>
            {% endif%}
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>


<div class="table-responsive tableFix">
  <table class="table">
    <thead>
        <tr>
            <th></th>
            {% for day in days %}
            <th><strong>{{ day }}</strong></th>
            {% endfor%}
        </tr>
    </thead>

    <tbody>
    {% for habit_cat in habits_list %}
        <tr>
            <th>
            <strong>{{ habit_cat }}</strong>
            </th>
            {% for habit in month_habits %}

                {% if habit.habit == habit_cat %}
            <td>
                {% if habit.is_completed == False %}
                <a href="{% url 'statistic_update' habit_id=habit.habit_id day=habit.day.day %}"><span style="width: 28px;height: 28px;padding-top:2px" class="btn btn-danger btn-sm">-</span></a>
                {% else %}
                <a href="{% url 'statistic_update' habit_id=habit.habit_id day=habit.day.day %}"><span style="width: 28px;height: 28px;padding-top:3px" class="btn btn-success btn-sm">+</span></a>
                {% endif %}
            </td>
                {% endif %}

            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
  </table>
</div>



{% endblock content %}