{% extends 'habits/habits_base.html' %}



{% block content %}






<div class='py-4 mt-auto' style="margin-top: 50px;margin-bottom: 10px;" >
    <div class='container px-4' align="center">
        <h1 class="text-center">Трекер привычек</h1><br>
        <h5 class="text-center">{{title}}</h5><br>
        {% if months|length_is:"1" %}
        {% elif months|length_is:"2" %}
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <a href="{% url 'statistic_previous' month=1 %}" class="btn btn-secondary ">
            Статистика за {{ months|first }}
          </a>
          <a href="{% url 'statistic' %}" class="btn btn-secondary">
            Статистика за {{months|last}}
          </a>
        </div>
        {% elif months|length_is:"3" %}
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            {% for month in months %}
            {% if forloop.counter0 == 0 %}
            <a href="{% url 'statistic_previous' month=2 %}" class="btn btn-secondary">
            Статистика за {{month}}
            </a>
            {% elif forloop.counter0 == 1 %}
            <a href="{% url 'statistic_previous' month=1 %}" class="btn btn-secondary">
                Статистика за {{month}}
            </a>
            {% elif forloop.counter0 == 2 %}
            <a href="{% url 'statistic' %}" class="btn btn-secondary">
                Статистика за {{month}}
            </a>
            {% endif%}
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>


<div class="table-responsive tableFix" style="margin-bottom:165px;">
  <table class="table">
    <thead>
        <tr>
            <th></th>
            {% for day in days %}
            <th><strong>{{ day }}</strong></th>
            {% endfor%}
        </tr>
    </thead>

    <tbody>
    {% for habit_cat in habits_list %}
        <tr>
            <th>
            <strong>{{ habit_cat }}</strong>
            </th>
            {% for habit in month_habits %}

                {% if habit.habit == habit_cat %}
            <td>
                {% if habit.is_completed == False %}
                <a href="#"><span style="width: 28px;height: 28px;padding-top:2px" class="btn btn-danger btn-sm">-</span></a>
                {% else %}
                <a href="#"><span style="width: 28px;height: 28px;padding-top:3px" class="btn btn-success btn-sm">+</span></a>
                {% endif %}
            </td>
                {% endif %}

            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>
  </table>
</div>



<div class='py-4 mt-auto' style="background-color: #E7E9EB" align="center">
    <div class='container px-4' style="padding-bottom:100px;padding-top:120px;">
        <h1 class="text-center">Прогресс</h1><br>
    </div>
    {% for key, value in progress.items %}
    {% if value <= 25 %}
    <h3 class="text-center">{{ key }}</h3>
    <div class="progress" style="max-width:1200px;margin-bottom:70px">
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{value}}%" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100">{{ value }}%</div>
    </div>
    {% elif value <= 50 %}
    <h3 class="text-center">{{ key }}</h3>
    <div class="progress" style="max-width:1200px;margin-bottom:70px">
        <div class="progress-bar bg-warning" role="progressbar" style="width: {{value}}%" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100">{{ value }}%</div>
    </div>
    {% elif value <= 75 %}
    <h3 class="text-center">{{ key }}</h3>
    <div class="progress" style="max-width:1200px;margin-bottom:70px">
        <div class="progress-bar bg-info" role="progressbar" style="width: {{value}}%" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100">{{ value }}%</div>
    </div>
    {% elif value <= 100 %}
    <h3 class="text-center">{{ key }}</h3>
    <div class="progress" style="max-width:1200px;margin-bottom:70px">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{value}}%" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100">{{ value }}%</div>
    </div>
    {% endif %}
    {% endfor %}
    <div style="height:100px"></div>
</div>

{% endblock content %}