.tableFix         { overflow: auto; }
.tableFix thead th { position: sticky; top: 0; z-index: 1; }
.tableFix tbody th { position: sticky; left: 0; z-index: 1; background-color:white}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 90px; /* bottom = footer height */
    font-family: 'Montserrat', sans-serif !important;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
}

