{% extends 'calorie_tracker/calorie_tracker_base.html' %}
{% load static %}
{% block title %}Food Tracker | {{ title }}{% endblock %}

{% block body %}
<div class='py-4 mt-auto'>
    <div class='container px-4'>

        <h3>{{ title }}</h3>

        <div class="card text-center" style="margin-bottom:50px">
                <h5 class="card-header">Количество продуктов: {{ products|length }}</h5>
                <h5 class="card-header">Всего калорий: {{ total_calories }}<br>
                    Всего белков: {{ total_protein }}<br>
                    Всего жиров: {{ total_fat }}<br>
                    Всего углеводов: {{ total_carbohydrates }}<br>
                </h5>
                <div class="card-body">
                    <a href="{% url 'add_product' meal_id=meal_id %}" class="btn btn-primary">Добавить новый продукт</a>
                </div>
            </div>

        <div class='row justify-content-center'>

            {% for product in products %}
            <div class="card" style="margin-bottom:15px">
                <h5 class="card-header">{{ product.dish.name }}</h5>
                <div class="card-body">
                    <h5 class="card-title">Вес: {{ product.weight }}</h5>
                    <h5 class="card-title">Калорий: {{ product.calories }}</h5>
                    <h5 class="card-title">Белков: {{ product.protein }}</h5>
                    <h5 class="card-title">Жиров: {{ product.fat }}</h5>
                    <h5 class="card-title">Углеводов: {{ product.carbohydrates }}</h5>
                    <a href="{% url 'delete_product' meal_id=meal_id product_id=product.id %}" class="btn btn-primary">Удалить</a>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
    {% endblock %}