{% extends 'calorie_tracker/calorie_tracker_base.html' %}
{% load static %}
{% block title %}Food Tracker | {{ title }}{% endblock %}

{% block head %}
<link href='{% static "calorie_tracker/css/bg_image.css" %}'
      rel='stylesheet'>
{% endblock %}

{% block body %}
<div class='py-4 mt-auto'>
    <div class='container px-4'>


        <div class="card text-center" style="margin-bottom:50px;max-width: 1200px;">
            <h5 class="card-header">Количество продуктов: {{ products|length }}</h5>
            <h5 class="card-header">Всего калорий: {{ total_calories }}<br>
                Всего белков: {{ total_protein|floatformat:2 }}<br>
                Всего жиров: {{ total_fat|floatformat:2 }}<br>
                Всего углеводов: {{ total_carbohydrates|floatformat:2 }}<br>
            </h5>
            <div class="card-body">

                <div class='form-group'>
                    <div class="row"
                         style="max-width:400px;margin-left:auto;margin-right:auto;">
                        <form action="{% url 'add_product' meal_id=meal_id %}"
                              method='POST' enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class="form-error">{{ form.non_field_errors }}
                            </div>

                            <div class='form-group'>
                                {{ product_form.as_p }}

                                <button type='submit' class='btn btn-primary'>
                                    Добавить
                                </button>
                                <a href="{% url 'today_meals' %}"
                                   class='btn btn-outline-dark'>Назад</a>
                            </div>

                        </form>
                    </div>
                </div>
                {% if fail %}
                <br>
                <div class='alert alert-dismissible alert-danger' role='alert'>
                    <button type='button' class='btn-close'
                            data-bs-dismiss='alert'></button>
                    Произошла ошибка при попытке добавить продукт.
                    Проверьте правильность данных.
                </div>
                {% endif %}

            </div>
        </div>



            {% for product in products %}
            <div class="card mb-3" style="max-width: 1200px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if product.dish.image %}
                        <img src="{{ product.dish.image.url }}"
                             class="img-fluid rounded-start" alt="exercise image">
                        {% else %}
                        <img src="{% static 'workout_tracker/images/no_image.png' %}"
                             class="img-fluid rounded-start" alt="exercise image">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{ product.dish.name }}</h3>
                            <h5>Вес: {{ product.weight }} <br>
                            Калорий: {{ product.calories }}<br>
                            Белков: {{ product.protein }}<br>
                            Жиров: {{ product.fat }}<br>
                            Углеводов: {{ product.carbohydrates }}<br>
                            <a href="{% url 'delete_product' meal_id=meal_id product_id=product.id %}"
                           class="btn btn-danger">Удалить</a></h5>
                        </div>
                    </div>
                </div>
            </div>





            {% endfor %}


    </div>
    {% endblock %}