{% extends 'users/users_base.html' %}

{% block title %}Self-Development | Registration{% endblock %}

{% block content %}


<div class='py-4 mt-auto'>
    <div class='container px-4'>

        <div class='d-flex justify-content-center'>
            <h3>Регистрация</h3>
        </div>

        {% if message %}
            <div style="color:red;">{{ message }}</div>
        {% endif %}

        <div class='row'>
            <div class='col-lg-6 offset-lg-3'>
                <div class='card bg-secondary mb-3'>
                    <div class='card-body'>

                        <div class='form-group'>

                            <form action="{% url 'register' %}" method='POST'>
                                {% csrf_token %}
                                <div class='form-group'>
                                    <label for='inputUsername' class='form-label mt-4'>
                                        Имя пользователя
                                    </label>
                                    <input type='text' name='username' class='form-control' id='inputUsername' placeholder='Введите имя' autofocus>
                                </div>

                                <div class='form-group'>
                                    <label for='inputEmail' class='form-label mt-4'>
                                        Электронная почта
                                    </label>
                                    <input type='email' name='email' class='form-control' id='inputEmail' placeholder='Введите почту'>
                                </div>

                                <div class='form-group'>
                                    <label for='inputPassword1' class='form-label mt-4'>
                                        Пароль
                                    </label>
                                    <input type='password' name='password' class='form-control' id='inputPassword1' placeholder='Введите пароль'>
                                </div>

                                <div class='form-group'>
                                    <label for='inputPassword2' class='form-label mt-4'>
                                        Подтверждение пароля
                                    </label>
                                    <input type='password' name='confirmation' class='form-control' id='inputPassword2' placeholder='Подтвердите пароль'>
                                </div>

                                <div class='form-group mt-4'>
                                    <button type='submit' class='btn btn-primary'>
                                        Зарегистрироваться
                                    </button>
                                </div>

                            </form>

                            <div class='mt-2'>
                                Уже есть аккаунт? <a href="{% url 'login' %}" type='button' class='btn btn-link'>
                                    Авторизация здесь
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}